{% extends 'base.html' %}

{% block main %}
{% load static %}

<section class="section-bg nos Services" id="services">
    <div class="container text-center my-5"> <!-- Container with centered text and margin -->
        <h2 class="animated-container p-4" style="color: #78B33A;">Qui sommes-nous ?</h2>
        <p class="animated-container" style="color: #686262;">
            La création d’Ecolo Cleaner System en novembre 2017, fut notre réponse face à la nécessité de mettre en
            phase - dans un
            contexte de transition écologique et de la préservation d’eau – un métier innovant (un besoin) et une
            main d’œuvre
            disponible. En créant ECS, notre objectif est d'une part de développer la culture du "Nettoyage
            Écologique &
            Sans Eau" (sans doute la pratique d'avenir) au profit des professionnels, et d'autre part de faire la
            promotion de
            "l'Emploi Social", en embauchant les salariés en fin de parcours d'insertion.
        </p>
    </div>

    <div class="container text-center"> <!-- Container with centered text and margin -->
        <h2 class="animated-container" style="color: #78B33A;">NOS ENGAGEMENTS</h2>
        <p class="animated-container" style="color: #686262;">
            La création d’Ecolo Cleaner System en novembre 2017, fut notre réponse face à la nécessité de mettre en
            phase - dans un
            contexte de transition écologique et de la préservation d’eau – un métier innovant (un besoin) et une
            main d’œuvre
            disponible. En créant ECS, notre objectif est d'une part de développer la culture du "Nettoyage
            Écologique &
            Sans Eau" (sans doute la pratique d'avenir) au profit des professionnels, et d'autre part de faire la
            promotion de
            "l'Emploi Social", en embauchant les salariés en fin de parcours d'insertion.
        </p>
    </div>
    <div class="container text-center"> <!-- Container with centered text and margin -->
        <h2 class="animated-container" style="color: #78B33A;">NOS VALEURS :</h2>
        <p class="animated-container" style="color: #686262;">
            Nos offres de « services responsables », sont indéniablement basées sur : - La rigueur dans
            bienveillance - Le
            professionnalisme - L’esprit d’équipe & la Solidarité - La confiance - La diplomatie.

        </p>
    </div>
</section>

<section class="container my-5">
    <div class="row align-items-center ">
        <!-- Colonne gauche : Titre et Paragraphe -->
        <div class="col-md-6">
            <h2 class="mb-3">Sourou A.YATTA</h2>
            <h5 style="color: #6F9B04;">Président Directeur Général</h5>
            <p style="color: #686262;">
                Diplômé d’un master en sciences politiques, j’ai acquis diverses expériences professionnelles en
                tant que salarié, dont
                la dernière au poste de manager auprès des salariés en insertion professionnelle sur plusieurs
                chantiers logistiques. La
                création d’Ecolo Cleaner System, fut notre réponse pour mettre en phase - dans un contexte de
                transition écologique et
                de la préservation d’eau – un métier innovant (un besoin) et une main d’œuvre disponible. En
                créant ECS, notre objectif
                est d'une part de développer la culture du "Nettoyage Écologique & Sans Eau" (sans doute la
                pratique d'avenir) au profit
                des professionnels, et d'autre part de faire la promotion de "l'Emploi Social", en embauchant
                les salariés en fin de
                parcours d'insertion.

            </p>
        </div>

        <!-- Colonne droite : Image -->
        <div class="col-md-6">
            <img src="{% static 'assets/images/Sourou.jpg' %}" alt="Description de l'image" class="img-fluid rounded"
                style="height: 300px; margin-left: 80px;">
        </div>
    </div> <br> <br>
    <div class="row align-items-center ">
        <!-- Colonne gauche : Titre et Paragraphe -->
        <div class="col-md-6">
            <img src="{% static 'assets/images/hanane.jpg' %}" alt="Description de l'image" class="img-fluid rounded"
                style="height: 300px; margin-left: 80px;">
        </div>

        <!-- Colonne droite : Image -->
        <div class="col-md-6">
            <h2>Hanane DAHOUMANE</h2>
            <h5 style="color: #6F9B04;">Co-fondatrice ECS depuis 27/11/2017</h5>
            <p style="color: #686262;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas, itaque sint molestias, laborum
                aliquid ipsa recusandae est amet quibusdam eveniet aperiam iste, architecto minima alias tempore
                adipisci possimus temporibus?
            </p>
        </div>
    </div>
</section>

{% endblock %}