{% extends 'base.html' %}

{% block main %}
{% load static %}

<div class="masthead" style="background-image: url('{% static 'assets/images/bg-image.webp' %}');">

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 animated-container">
                <h2 class="text-white" style="margin-top: 100px;font-size: 35px;">
                    Préservez vos autocars avec un nettoyage écologique
                </h2>
                <br>
                <p class="text-white">
                    Transformez l’entretien de vos autocars et de vos bureaux avec notre approche
                    éco-responsable, qui allie efficacité maximale et respect total de l’environnement.
                </p>
                <div class="d-flex flex-column flex-md-row">
                    <a href="{% url 'devis' %}" class="btn btn-icon py-3 mt-4 me-md-2"
                        style="background-color: #6F9B04; color: white;border-radius:0px">
                        DEVIS GRATUIT
                        <img src="{% static 'assets/images/icone-devis.png' %}" alt="Icone Devis" class="ms-2">
                    </a>

                    <a href="#contact" class="btn btn-icon py-3 mt-4 ms-md-2 btn-color btn-style"
                        style="background-color: #6F9B04; color: white;border-radius:0px">
                        NOUS CONTACTER
                        <img src="{% static 'assets/images/phone.png' %}" alt="Icone Téléphone" style="height: 35px;"
                            class="ms-2">
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>

<section class="section-bg nos-services" id="services">
    <style>
        .cocoen img {
            width: 100%;
            /* Assure que l'image prend toute la largeur du conteneur */
            height: 250px;
            /* Ajuste cette valeur selon la taille souhaitée */
            object-fit: cover;
            /* Garde le ratio d'aspect de l'image et la centre dans son conteneur */
        }

        .cocoen {
            position: relative;
            overflow: hidden;
        }

        .espacement {
            margin-bottom: 20px;
            /* Ajuste l'espacement entre les conteneurs */
        }
    </style>
    <h2 class="text-center animated-container">Nos Services</h2>
    <p class="py-4 text-center animated-container" style="color: #686262;">Nettoyage Ecologique, Manuel & Sans Eau, des
        Véhicules, Autocars,
        Bus, Mobiliers de
        bureau,
        Locaux, Vitres,
        avec des
        produits bio et des microfibres biodégradables. Nous vous proposons des services 100% français, avec des
        produits
        (Eco-cert & Lucie 26000) « Made In France » qui sont compatibles avec votre politique RSE.</p>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
        style=" border: 2px solid #6F9B04; padding: 10px;">
        <div class="carousel-inner">
            {% for service in services %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="container my-5">
                    <div class="service-container row">
                        <div class="col-md-6">
                            <img src="{{ service.image.url }}" alt="{{ service.title }}" class="service-image">
                        </div>
                        <div class="col-md-6 d-flex flex-column justify-content-center">
                            <div class="service-title">
                                {{ service.title }}
                            </div>
                            <div class="service-description" style="color: #686262;">
                                <p>{{ service.description }}</p>
                            </div>
                            <a href="{% url 'devis' %}" class="btn btn-primary btn-color align-self-start"
                                style="background-color: #6F9B04; color: white; border-color: #6F9B04; border-radius:0px;">DEVIS
                                GRATUIT</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<section>
    <div class="container my-5">
        <h2 class="section-title">Pourquoi nous choisir ?<span></span></h2>
        <div class="row">
            <style>
                .card-custom {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px;
                    background-color: #fff;
                    border-radius: 40px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                }

                .card-custom .image img {
                    max-width: 80px;
                    /* Réduit la taille des logos */
                    margin: 0 auto 20px auto;
                    display: block;
                }

                .card-custom h5 {
                    margin-top: auto;
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                .card-custom p {
                    margin-bottom: auto;
                    font-size: 0.9rem;
                    line-height: 1.5;
                    color: #666;
                }

                @media (max-width: 767px) {
                    .col-md-4 {
                        margin-bottom: 20px;
                        /* Ajoute un espace entre les conteneurs */
                    }
                }
            </style>
            <div class="col-md-4">
                <div class="card-custom">
                    <div class="image">
                        <img src="{% static 'assets/images/lave-auto.png'%}" alt="Nettoyage Écologique et Innovant"
                            class="img-fluid">
                    </div>
                    <h5>Nettoyage Écologique et Innovant</h5>
                    <p class="text-start">Notre méthode de nettoyage utilise des produits respectueux de
                        l'environnement, garantissant un service efficace tout en préservant la planète.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-custom">
                    <div class="image">
                        <img src="{% static 'assets/images/justice-sociale.png' %}" alt="Engagement Social et Inclusion"
                            class="img-fluid">
                    </div>
                    <h5>Engagement Social et Inclusion</h5>
                    <p class="text-start">Nous croyons en l’intégration sociale et en l’inclusion professionnelle.
                        Nos équipes sont majoritairement composées de personnes issues de parcours d'insertion, à
                        qui
                        nous offrons des opportunités de formation et de développement.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-custom">
                    <div class="image">
                        <img src="{% static 'assets/images/haute-qualite.png' %}" alt="Service de Haute Qualité"
                            class="img-fluid">
                    </div>
                    <h5>Service de Haute Qualité</h5>
                    <p class="text-start">Notre priorité est de vous offrir un service de qualité, réalisé par des
                        techniciens qualifiés. Chaque intervention est effectuée avec un souci du détail inégalé.
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            <a href="#contact" class="btn btn-primary btn-color"
                style="background-color: #6F9B04; color: white;border-color: #6F9B04; border-radius:0px">CONTACTEZ-NOUS</a>
        </div>
    </div>
</section>

<section class="chiffres-cles-section">
    <div class="container-fluid text-center">
        <div class="container">
            <h2>Chiffres clés</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="chiffre-cle" data-target="3000">+0</div>
                    <div class="description">Véhicules nettoyés par an</div>
                </div>
                <div class="col-md-4">
                    <div class="chiffre-cle" data-target="750000">+0</div>
                    <div class="description">Litres d'eau économisés par an depuis 2027</div>
                </div>
                <div class="col-md-4">
                    <div class="chiffre-cle" data-target="52500000">+0</div>
                    <div class="description">Litres d'eau économisés pour +210000 véhicules nettoyés</div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="nos-réalisations
" id="réalisations">
    <div class="container realisations-section">
        <h2 class="section-title mt-5">Nos réalisations</h2>
        <p class="me-5" style="text-align: center;color: #686262;">Découvrez les résultats remarquables de nos
            nettoyages 100%
            écologiques dans les photos
            ci-dessous. Vous
            pourrez
            constater l'efficacité de notre méthode en comparant les images avant et après. Servez-vous du curseur
            orange
            pour glisser d'un côté à l'autre et observer la transformation impressionnante que nous apportons, tout
            en
            respectant l'environnement.</p> <br>
        <div class="row">
            {% for realization in realizations %}
            <div class="col-md-4">
                <div class="cocoen espacement">
                    <img src="{{ realization.avant.url }}" alt="Avant">
                    <img src="{{ realization.apres.url }}" alt="Après">
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section> <br><br><br>

<section class="chiffres-cles-section" id="partenaire">
    <style>
        .same-size-img {
            width: 100%;
            height: 150px;
            object-fit: contain;
            display: block;
        }
    </style>
    <div class="container">
        <h2 class="text-center mb-5 mt-5">Nos Partenaires</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'assets/images/logo5.jpg' %}" alt="Rellumix" class="img-fluid same-size-img">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'assets/images/logo2.png' %}" alt="PharmaField" class="img-fluid same-size-img">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'assets/images/logo3.jpg' %}" alt="neDi" class="img-fluid same-size-img">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="{% static 'assets/images/logo.png' %}" alt="Adopte Un Bureau"
                        class="img-fluid same-size-img">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="caroussel-design">
    <div class="container">
        <div class="google-review mt-5">
            <h2 style="color: rgb(255, 255, 255);">Avis Google</h2>
            <span class="star">★★★★★</span>
        </div>
        <div class="testimonial mt-5">
            <p class="" style="color: rgb(255, 255, 255); text-align: center;">« Les témoignages permettent de
                comprendre
                comment vous travaillez et
                d’en savoir plus sur vos
                articles et
                vos services. »</p>
        </div>
        <ul class="pagination mt-5">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
<section class="text-center mt-5">
    <h1>Voyez comment nous faisons la différence</h1>
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 mt-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://youtu.be/T7gUdtQ8LsA" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}